@import "../../../common/stylus/bootstrap";
@import "../../../common/stylus/reset";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #eceff1;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.App-Header {
  position: relative;
  flex: 0 auto;
  height: 64px;
}

.App-Main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}